
<div class="container">
    <h1>Toutes les recettes</h1>

    <nav>
        <ul class="pager">
            <li class="previous ${pagination.firstPage ? 'disabled' : ''}"><a href="/admin/recettes?index=${pagination.previousPageIndex}"><span aria-hidden="true">&larr;</span> Précédente</a></li>
            <li><input type="text" class="form-control page" value="{{currentPage}}" autocomplete="false" /> / ${pagination.pageCount}</li>
            <li class="next ${pagination.lastPage ? 'disabled' : ''}"><a href="/admin/recettes?index=${pagination.nextPageIndex}">Suivante <span aria-hidden="true">&rarr;</span></a></li>
        </ul>
    </nav>

    <table class="table table-striped table-hover table-condensed">
        <tr ng-repeat="item in items">
            <td>
                <a href="#/recettes/{{item.id}}">{{item.title}}</a>
            </td>
        </tr>
    </table>

    <nav>
        <ul class="pager">
            <li class="previous ${pagination.firstPage ? 'disabled' : ''}"><a href="/admin/recettes?index=${pagination.previousPageIndex}"><span aria-hidden="true">&larr;</span> Précédente</a></li>
            <li><input type="text" class="form-control page" value="{{currentPage}}" autocomplete="false" /> / ${pagination.pageCount}</li>
            <li class="next ${pagination.lastPage ? 'disabled' : ''}"><a href="/admin/recettes?index=${pagination.nextPageIndex}">Suivante <span aria-hidden="true">&rarr;</span></a></li>
        </ul>
    </nav>
</div>